@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor;
<div class="sidebar">
  <div class="img-container">
    <img src="/img/AOPCBlack.jpg" alt="AOPC" width="100%" class="logo" id="logo" />
  </div>
  <div class="sidenav">
    <ul>
      <li>
                <a href="../../Dashboard/CorporateDashboard">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 1200 1200" class="nav-icon">
            <path
              d="M153,209H576c20.428,0,38.554-.9,51,7q0.5,1,1,2h2l5,6,5,4v2l2,1v2l2,1q0.5,2.5,1,5h1v2h1v3h1v5c2.964,9.944,1,28.935,1,41V483c0,17.844.884,34.105-6,45l-2,1v2l-2,1v2l-5,4q-0.5,1-1,2h-2l-2,3h-2q-0.5,1-1,2l-6,2v1h-2v1h-3v1l-12,1c-10.839,3.045-33.738,1-47,1H174l-24-1-14-5v-1l-3-1q-0.5-1-1-2h-2l-5-6-5-4v-2l-2-1v-2h-1l-2-6h-1q-0.5-3-1-6h-1v-5c-2.936-9.851-1-31.73-1-44V268c0-8.6-.016-15.911,2-22v-4h1v-2h1v-3h1v-2l2-1q0.5-2,1-4l3-2v-2l5-4q0.5-1,1-2h2l2-3,4-1q0.5-1,1-2Zm636,0h242l22,1v1l9,2v1h2c0.33,0.667.67,1.333,1,2l4,1c0.67,1,1.33,2,2,3h2c1.33,1.667,2.67,3.333,4,5,0.67,0.333,1.33.667,2,1v2l3,2c0.33,1.333.67,2.667,1,4,0.67,0.333,1.33.667,2,1,0.33,1.667.67,3.333,1,5h1v3h1v3h1c2.9,8.671,1,22.623,1,33V780c0,10.261.93,24.525-2,32h-1v2h-1v3h-1v2h-1v2c-0.67.333-1.33,0.667-2,1v2c-0.67.333-1.33,0.667-2,1v2l-3,2c-1.67,2-3.33,4-5,6h-2c-0.33.667-.67,1.333-1,2h-2c-0.33.667-.67,1.333-1,2l-4,1v1h-2v1c-9.72,4.252-26.23,3-40,3H833c-12.465,0-35,2-45-1h-5v-1h-3v-1h-2v-1l-5-1q-0.5-1-1-2l-4-1-3-4h-2l-3-4h-1v-2l-3-2v-2l-2-1v-2h-1q-1-3-2-6h-1v-3h-1v-4h-1v-7h-1V322c0-24.8-3.182-63.1,4-81v-3h1v-2h1q0.5-2,1-4l2-1v-2l4-3c3.224-3.243,6.082-7.518,10-10l6-2v-1ZM255,649H585l26,1v1h4v1h3v1l6,2v1h2q0.5,1,1,2h2q0.5,1,1,2h2l4,5,2,1v2l3,2v2l2,1v2h1q0.5,2,1,4h1q0.5,3,1,6h1v4h1V953h-1v4h-1v3h-1v2h-1v3l-2,1q-0.5,2-1,4l-2,1v2l-3,2-6,7h-2l-2,3h-2v1l-6,2v1l-6,1v1h-6c-9.847,2.841-28.094,1-40,1H251l-18-6q-0.5-1-1-2h-2l-2-3h-2l-4-5-2-1v-2l-3-2-7-15v-5c-3.034-10.177-1-29.675-1-42V750c0-19.879-2.738-52.612,3-67v-3h1v-2h1l2-6c2.485-3.917,6.755-6.776,10-10l3-4,4-1q0.5-1,1-2h2v-1h2v-1Z" />
          </svg>

          <span>Dashboard</span>
        </a>
      </li>
        <li>
            <a href="../../Corporate/CorporateIndex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 21 19" fill="none">
                    <path d="M20.7209 15.1881C20.7209 14.3295 20.3803 13.5058 19.773 12.8984C19.1656 12.291 18.3419 11.9504 17.4833 11.9504C14.8245 11.9504 11.0766 11.9504 8.41788 11.9504C7.55926 11.9504 6.7356 12.291 6.12822 12.8984C5.52083 13.5058 5.18023 14.3295 5.18023 15.1881V18.4257H20.7209C20.7209 18.4257 20.7209 17.3211 20.7209 15.1881ZM3.88518 15.8356H0C0 15.8356 0 14.7309 0 12.598C0 11.7394 0.3406 10.9157 0.947983 10.3083C1.55537 9.70093 2.37902 9.36033 3.23765 9.36033H8.4645C8.74682 9.84727 9.10556 10.285 9.52516 10.6554H8.41788C5.91453 10.6554 3.88518 12.6847 3.88518 15.1881V15.8356ZM12.9506 2.88504C15.0952 2.88504 16.8358 4.6256 16.8358 6.77021C16.8358 8.91483 15.0952 10.6554 12.9506 10.6554C10.806 10.6554 9.06541 8.91483 9.06541 6.77021C9.06541 4.6256 10.806 2.88504 12.9506 2.88504ZM7.93353 8.06139C7.87914 8.06398 7.82474 8.06527 7.77035 8.06527C5.62573 8.06527 3.88518 6.32471 3.88518 4.1801C3.88518 2.03548 5.62573 0.294922 7.77035 0.294922C9.09908 0.294922 10.2724 0.963172 10.973 1.98109C9.0939 2.75942 7.77035 4.61135 7.77035 6.77021C7.77035 7.21571 7.82733 7.64956 7.93353 8.06139Z" fill="var(--dark)" />
                </svg>
                <span>Users</span>
            </a>
      </li>
    </ul>
    @* <label class="cb" for="pnp"> <span class="label"> Agree to <a href="#">Privacy and Policy.</a></span> <input
        type="checkbox" name="pnp" id="pnp" class="cl-checkbox"> <span class="checkmark"></span> </label> *@
  </div>
</div>
