@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string message = "";
    if (ViewData["Message"] != null)
    {
        message = ViewData["Message"].ToString();
    }

}

<div class="main-container">
    <!-- Top Corp User  -->

    <div class="row-group1">
        <div class="chart-class">
         <h4 style="color:#c89328">Total User</h4>
                <div class="top-corp-user">
   
                    <canvas id="myChart" style="width:1000px"></canvas>
                </div>
        </div>
       
        <div class="inner-group">
            <div class="new-users">
                <div class="controls">
                    <h4>New User Registration</h4>
                    <select id="nur" class="option-filters">
                        <option value="7">Last 7 Days</option>
                        <option value="15">Last 15 Days</option>
                        <option value="30">Last 30 Days</option>
                        <option value="1">Last 12 Months</option>
                        
                    </select>
                </div>
                <div class="user-counter">
                    <div id="new-registered">
                        <p class="count" id="new_user"></p>
                        <p class="total-user-container">New User</p>
                    </div>
                    <svg* width="150"
                          height="60"
                          viewBox="0 0 72 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                        <path d="M71.0607 13.0607C71.6464 12.4749 71.6464 11.5251 71.0607 10.9393L61.5147 1.3934C60.9289 0.807611 59.9792 0.807611 59.3934 1.3934C58.8076 1.97919 58.8076 2.92893 59.3934 3.51472L67.8787 12L59.3934 20.4853C58.8076 21.0711 58.8076 22.0208 59.3934 22.6066C59.9792 23.1924 60.9289 23.1924 61.5147 22.6066L71.0607 13.0607ZM0 13.5H70V10.5H0V13.5Z"
                              fill="#C89328" />
                    </svg*>
                    <div >
                        <p class="count" id="all-user"></p>
                        <p class="total-user-container">Total Active User</p>
                    </div>
                </div>
                <p class="nur-note">
                    <span id="percent-registered"></span> of expected user are
                    registered.
                </p>
            </div>
            <div class="supports">
                <div class="controls">
                    <h4>Support Center</h4>
                </div>
                <div class="support-counter">
                    <div id="support-unattended">
                        <p class="count" id="supcount"></p>
                    </div>
                </div>
                <p class="nur-note">Total concern that need to attends.</p>
            </div>
        </div>
    </div>
    <div class="row-group2">
        <!-- Top Restaurants  -->
        <div class="top-restaurants">
            <div class=""><h4>Top 3 Most Clicked Restaurant</h4></div>
            <div class="outlet-data">
                <div class="to-pie-graph" id="to-pie-graph"></div>
                <div class="tr-pie-graph-info" id="tr-pie-graph-info">
                    <div class="data">
                        <span class="data-label"
                              style="background-color: var(--accent)"></span>
                        <span class="data-name" style="color: var(--accent)" id="mcr_top1">Others</span>
                        <span class="data-value" style="color: var(--accent)" id="mcr_perc1">40%</span>
                    </div>
                    <div class="data">
                        <span class="data-label"
                              style="background-color: var(--secondary-dark)"></span>
                        <span class="data-name" style="color: var(--secondary-dark)" id="mcr_top2">Business1</span>
                        <span class="data-value" style="color: var(--secondary-dark)" id="mcr_perc2">30%</span>
                    </div>
                    <div class="data">
                        <span class="data-label"
                              style="background-color: var(--secondary-brown)"></span>
                        <span class="data-name" style="color: var(--secondary-brown)" id="mcr_top3">Business2</span>
                        <span class="data-value" style="color: var(--secondary-brown)" id="mcr_perc3">20%</span>
                    </div>
                    <div class="data">
                        <span class="data-label"
                              style="background-color: var(--secondary-light)"></span>
                        <span class="data-name" style="color: var(--secondary-light)" id="mcr_top4"">Business3</span>
                        <span class="data-value"
                              style="color: var(--secondary-light)" id="mcr_perc4">
                            10%
                        </span>
                    </div>
                </div>
            </div>
            <div class="controls">
                <select id="mcr" class="option-filters">
                    <option value="7">Last 7 Days</option>
                    <option value="15">Last 15 Days</option>
                    <option value="30">Last 30 Days</option>
                    <option value="1">Last 12 Months</option>

                </select>
                <a class="btn-view-more" id="mcr_vm">View Details</a>
            </div>
        </div>

        <!-- Top Outlets  -->
        <!-- Top Hospitality  -->
        <div class="top-hospitality">
            <div class=""><h4>Top 3 Most Clicked Hospitality</h4></div>
            <div class="user-data">
                <div class="th-pie-graph" id="th-pie-graph"></div>
                <div class="th-pie-graph-info">
                    <div class="data">
                        <span class="data-label"
                              style="background-color: var(--accent)"></span>
                        <span class="data-name" style="color: var(--accent)" id="mch_top1">Others</span>
                        <span class="data-value" style="color: var(--accent)" id="mch_perc1">40%</span>
                    </div>
                    <div class="data">
                        <span class="data-label"
                              style="background-color: var(--secondary-dark)"></span>
                        <span class="data-name" style="color: var(--secondary-dark)" id="mch_top2">John Doe</span>
                        <span class="data-value" style="color: var(--secondary-dark)" id="mch_perc2">30%</span>
                    </div>
                    <div class="data">
                        <span class="data-label"
                              style="background-color: var(--secondary-brown)"></span>
                        <span class="data-name" style="color: var(--secondary-brown)" id="mch_top3">Jane Doe</span>
                        <span class="data-value" style="color: var(--secondary-brown)" id="mch_perc3">20%</span>
                    </div>
                    <div class="data">
                        <span class="data-label"
                              style="background-color: var(--secondary-light)"></span>
                        <span class="data-name" style="color: var(--secondary-light)" id="mch_top4">Alfred Doe</span>
                        <span class="data-value"
                              style="color: var(--secondary-light)" id="mch_perc4">
                            10%
                        </span>
                    </div>
                </div>
            </div>
            <div class="controls">
              <select id="mch" class="option-filters">
                        <option value="7">Last 7 Days</option>
                        <option value="15">Last 15 Days</option>
                        <option value="30">Last 30 Days</option>
                        <option value="1">Last 12 Months</option>
                        
                    </select>
                <a class="btn-view-more" id="mch_vm">View Details</a>
            </div>
        </div>
        <!-- Top Users  -->
        <!-- Top Privileges  -->
        <div class="top-stores">
            <div class="head"><h4>Top 3 Most Clicked Store</h4></div>
            <div class="user-data">
                <div class="ts-pie-graph" id="ts-pie-graph"></div>
                <div class="ts-pie-graph-info">
                    <div class="data">
                        <span class="data-label"
                              style="background-color: var(--accent)"></span>
                        <span class="data-name" style="color: var(--accent)" id="mcs_top1"></span>
                        <span class="data-value" style="color: var(--accent)" id="mcs_perc1">40%</span>
                    </div>
                    <div class="data">
                        <span class="data-label"
                              style="background-color: var(--secondary-dark)"></span>
                        <span class="data-name" style="color: var(--secondary-dark)" id="mcs_top2">John Doe</span>
                        <span class="data-value" style="color: var(--secondary-dark)" id="mcs_perc2">30%</span>
                    </div>
                    <div class="data">
                        <span class="data-label"
                              style="background-color: var(--secondary-brown)"></span>
                        <span class="data-name" style="color: var(--secondary-brown)" id="mcs_top3">Jane Doe</span>
                        <span class="data-value" style="color: var(--secondary-brown)" id="mcs_perc3">20%</span>
                    </div>
                    <div class="data">
                        <span class="data-label"
                              style="background-color: var(--secondary-light)" ></span>
                        <span class="data-name" style="color: var(--secondary-light)" id="mcs_top4" >Alfred Doe</span>
                        <span class="data-value"
                              style="color: var(--secondary-light)" id="mcs_perc4">
                            10%
                        </span>
                    </div>
                </div>
            </div>
            <div class="controls">
                <select id="mcs" class="option-filters">
                    <option value="7">Last 7 Days</option>
                    <option value="15">Last 15 Days</option>
                    <option value="30">Last 30 Days</option>
                    <option value="1">Last 12 Months</option>

                </select>
                <a class="btn-view-more" id="mcs_vm">View Details</a>
            </div>
        </div>
        <!-- Top Privileges  -->
    </div>
    <!-- Top Corp  -->
    <div class="row-group3">
        <div class="cta-table">
            <div class="controls">
                <h4>Call to Actions</h4>
                <div class="filters">
                    <select id="cta-opt" class="option-filters">
                        <option value="0" style="color:gray" hidden>Select Category</option>
                        <option value="Food & Beverage">Restaurant</option>
                        <option value="Hotel">Hotel</option>
                        <option value="Health">Health</option>
                        <option value="Shops & Services">Shops & Services</option>
                        <option value="News & Services">News</option>
                        <option value="Wellness">Wellness</option>
                        <option value="Access to co-working spaces">Access to co-working spaces</option>
                    </select>
                    <select id="cta-day" class="option-filters">
                        <option value="0" style="color:gray" hidden>Filter Date</option>
                        <option value="7">Last 7 Days</option>
                        <option value="15">Last 15 Days</option>
                        <option value="30">Last 30 Days</option>
                        <option value="1">Last 12 Months</option>
                        
                    </select>
                </div>
            </div>

            <table id="cAction_table">
                <thead>
                    <tr>
                        <th >Name</th>
                        <th>Categories</th>
                        <th>Call</th>
                        <th>Email</th>
                        <th>Book</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
           
            <a class="btn-view-more" id="vm_action">View More</a>
        </div>
        <div class="news-feed">
            <div class="controls">
                <h4>News Feed Clicks</h4>
                <div class="filters">
                    <select id="cnt-opt" class="option-filters">
                        <option value="7">Last 7 Days</option>
                        <option value="15">Last 15 Days</option>
                        <option value="30">Last 30 Days</option>
                        <option value="1">Last 12 Months</option>
                        
                    </select>
                </div>
            </div>
            <table id="tbl_cnt">
                <tbody>
                    
                </tbody>
            </table>
            <a class="btn-view-more" id="vm_feedclicks">View More</a>
        </div>
    </div>
</div>
<div class="modal fade" id="clickModal" tabindex="-1" role="dialog" aria-labelledby="modal-title"
        aria-hidden="true" style="display: none;" data-keyboard="false" data-backdrop="static" >
   <div class="modal-dialog modal-error-dialog" style="max-width: 600px;margin: 1.75rem auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" >News Feed Clicks List</h4>
                    <button type="button" id="h-close" class="close" data-dismiss="modal" aria-hidden="false">x</button>
                </div>
                <div style="margin:10px">

                <button type="button" class="btn btn-warning btn-nfc" data-toggle="tooltip" data-placement="bottom" title="Print Entire Data" style="width:100%"><i class="fas fa-file-excel"></i>Export excel file</button>

                <table class="myTableMedium" id="n_clicktbl">
                    <thead>
                  
                    <th>Module</th>
                    <th>No. of Clicks</th>
                    <tbody>
                    </tbody>
                </table>



                </div>
            </div>
        </div>
</div>
<div class="modal fade" id="CallModal" tabindex="-1" role="dialog" aria-labelledby="modal-title"
     aria-hidden="true" style="display: none;" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-error-dialog" style="max-width: 600px;margin: 1.75rem auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Call to Actions List</h4>
                <button type="button" id="h-close" class="close" data-dismiss="modal" aria-hidden="false">x</button>
            </div>
            <div style="margin:10px">
                <button type="button" class="btn btn-warning btn-print" data-toggle="tooltip" data-placement="bottom" title="Print Entire Data" style="width:100%"><i class="fas fa-file-excel"></i>Export excel file</button>

                <table class="myTableMedium" id="n_call" >
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Categories</th>
                            <th>Call</th>
                            <th>Email</th>
                            <th>Book</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>



            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="MostClickStoreModal" tabindex="-1" role="dialog" aria-labelledby="modal-title"
     aria-hidden="true" style="display: none;" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-error-dialog" style="max-width: 600px;margin: 1.75rem auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Most Click Store List</h4>
                <button type="button" id="h-close" class="close" data-dismiss="modal" aria-hidden="false">x</button>
            </div>
            <div style="margin:10px">

                <button type="button" class="btn btn-warning btn-msc" data-toggle="tooltip" data-placement="bottom" title="Print Entire Data" style="width:100%"><i class="fas fa-file-excel"></i>Export excel file</button>

                <table class="myTableMedium" id="mcs_call">
                    <thead>
                        <tr>
                            <th>Store</th>
                            <th>Click Count</th>
                            <th>Total Percentage</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>



            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ShowGetMostClickModal" tabindex="-1" role="dialog" aria-labelledby="modal-title"
     aria-hidden="true" style="display: none;" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-error-dialog" style="max-width: 600px;margin: 1.75rem auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Most Click Hospitality List</h4>
                <button type="button" id="h-close" class="close" data-dismiss="modal" aria-hidden="false">x</button>
            </div>
            <div style="margin:10px">

                <button type="button" class="btn btn-warning btn-mch" data-toggle="tooltip" data-placement="bottom" title="Print Entire Data" style="width:100%"><i class="fas fa-file-excel"></i>Export excel file</button>

                <table class="myTableMedium" id="mch_call">
                    <thead>
                        <tr>
                            <th>Hospitality</th>
                            <th>Click Count</th>
                            <th>Total Percentage</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>



            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ShowMostClickRestoModal" tabindex="-1" role="dialog" aria-labelledby="modal-title"
     aria-hidden="true" style="display: none;" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-error-dialog" style="max-width: 600px;margin: 1.75rem auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Most Click Restaurant List</h4>
                <button type="button" id="h-close" class="close" data-dismiss="modal" aria-hidden="false">x</button>
            </div>
            <div style="margin:10px">

                  <button type="button" class="btn btn-warning btn-mcr" data-toggle="tooltip" data-placement="bottom" title="Print Entire Data" style="width:100%"><i class="fas fa-file-excel"></i>Export excel file</button>

                <table class="myTableMedium" id="mcr_call">
                    <thead>
                        <tr>
                            <th>Restaurant</th>
                            <th>Click Count</th>
                            <th>Total Percentage</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>



            </div>
        </div>
    </div>
</div>
<div class="footer"></div>

<script src="/js/app.js" async defer></script>
<script src="
    https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js
    "></script>


@section Scripts{
    <script>
        let myChart = new Chart();
        $(document).ready(function () {
            nbtable = $('#n_clicktbl').DataTable({
                         
                    "bPaginate": false,
                    "bFilter": false,
                    "stripeClasses": [],
                    "ordering": false,
                    "ordering": false,
                    "info": false,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "bLengthChange": false,
                    "searching": false,
                "paging": true,
                "aLengthMenu": [10],
                "searching": false
                , "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" }

              }); 
              nctable = $('#n_call').DataTable({
                   "columnDefs": [

                    { "width": "150px", "targets": 0 },
                    { "width": "100px", "targets": 1 },
                    { "width": "100px", "targets": 2 },
                    { "width": "100px", "targets": 3 },
                    // { "width": "70px", "targets": 9 }
                ],
                    "bPaginate": false,
                    "bFilter": false,
                    "stripeClasses": [],
                    "ordering": false,
                    "ordering": false,
                    "info": false,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "bLengthChange": false,
                 "paging": true,
                      "aLengthMenu": [10],
                      "searching": true,
                 "paging": true,
                                      "aLengthMenu": [10],
                                      "searching": true
                                , "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" }

              });      
              mcstable = $('#mcs_call ').DataTable({
                            "columnDefs": [

                    { "width": "150px", "targets": 0 },
                    { "width": "100px", "targets": 1 },
                    { "width": "100px", "targets": 2 },
                    // { "width": "70px", "targets": 9 }
                ],
                    "bPaginate": false,
                    "bFilter": false,
                    "stripeClasses": [],
                    "ordering": false,
                    "ordering": false,
                    "info": false,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "bLengthChange": false,
                    "searching": false,
                "paging": true,
                "aLengthMenu": [10],
                          "searching": true,
                 "paging": true,
                                      "aLengthMenu": [10],
                                      "searching": true
                                , "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" }

              });
            mchtable = $('#mch_call').DataTable({
                "columnDefs": [

                    { "width": "150px", "targets": 0 },
                    { "width": "100px", "targets": 1 },
                    { "width": "100px", "targets": 2 },
                    // { "width": "70px", "targets": 9 }
                ],
                "bPaginate": false,
                    "bFilter": false,
                    "stripeClasses": [],
                    "ordering": false,
                    "ordering": false,
                    "info": false,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "bLengthChange": false,
                            "paging": true,
                      "aLengthMenu": [10],
                             "searching": true,
                 "paging": true,
                                      "aLengthMenu": [10],
                                      "searching": true
                                , "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" }

              });   
              tbl_cnttable = $('#tbl_cnt').DataTable({
                "columnDefs": [

                    { "width": "200px", "targets": 0 },
                    { "width": "50px", "targets": 1 },
                    // { "width": "70px", "targets": 9 }
                ],
                "bPaginate": false,
                    "bFilter": false,
                    "stripeClasses": [],
                    "ordering": false,
                    "ordering": false,
                    "info": false,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "bLengthChange": false,
                    "searching": false,
                    "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" }

              });

            mcrtable = $('#mcr_call').DataTable({
                "columnDefs": [

                    { "width": "150px", "targets": 0 },
                    { "width": "100px", "targets": 1 },
                    { "width": "100px", "targets": 2 },
                    // { "width": "70px", "targets": 9 }
                ],
                "bPaginate": false,
                "bFilter": false,
                "stripeClasses": [],
                "ordering": false,
                "ordering": false,
                "info": false,
                "bInfo": false,
                "bAutoWidth": false,
                "bLengthChange": false,
                "searching": false,
                "paging": true,
                "aLengthMenu": [10],
                "searching": true,
                 "paging": true,
                                      "aLengthMenu": [10],
                                      "searching": true
                                , "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" }

            });
            cAbtable = $('#cAction_table').DataTable({
                "columnDefs": [

                    { "width": "180px", "targets": 0 },
                    { "width": "80px", "targets": 1 },
                    { "width": "70px", "targets": 2 },
                    { "width": "70px", "targets": 3 },
                    { "width": "70px", "targets": 4 },
                    // { "width": "70px", "targets": 9 }
                ],
                    "bPaginate": false,
                    "bFilter": false,
                    "stripeClasses": [],
                    "ordering": false,
                    "ordering": false,
                    "info": false,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "bLengthChange": false,
                 "aLengthMenu": [5],
                 "paging": true,
                                      "searching": true
                                , "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" }

              });
            ShowGetLineGraphCountList();
            ShowPiegraphMostClickStore();
            ShowPiegraphMostClickHospitality();
            ShowPiegraphMostClickRestaurant();
            ShowFilteredNewRegistered();
            GetClickCountTop2();
            ShowSupportcount();
            ShowAllUserCount();
            ShowGetCallToActions();
            ShowMostClickStoreList();
            ShowGetMostClickedHospitalityList();
            ShowGetMostClickRestaurant();
      
        });

        $('.btn-print').click(function () {
            location.replace("/Dashboard/DownloadCalltoActionExcel");

        });  
        $('.btn-msc').click(function () {
            location.replace("/Dashboard/DownloadMCS");

        });  
        $('.btn-mch').click(function () {
            location.replace("/Dashboard/DownloadMCH");

        });  
        $('.btn-mcr').click(function () {
            location.replace("/Dashboard/DownloadMCR");

        });    
        $('.btn-nfc').click(function () {
            location.replace("/Dashboard/DownloadMSC");

        });
        $('#vm_feedclicks').click(function () {
            GetClickCountAll();
            $('#clickModal').modal('show');
        });
        $('#vm_action').click(function () {
            ShowGetCallToActionsModal();
            $('#CallModal').modal('show');
        });
        $('#mcs_vm').click(function () {
         
              $.blockUI(reloadLoading);
                setTimeout(function () {
                    $.ajax(
                        {
                            url: "/Dashboard/GetMostClickStore",
                            data: {

                            },
                            type: "GET",
                            datatype: "json"
                        }).done(function (data) {
                        
                            mcstable.clear().draw();
                            for (var i = 0; i < data.length; i++) {
                                $("#mcs_call").dataTable().fnAddData([
                                    "<td><p></p><p>" + data[i].business + "</p></td>",
                                    "<td><p>" + data[i].count + "</p></td>",
                                "<td><p>" + data[i].total +" %"+ "</p></td>",

                                ]);
                            }
                            $.unblockUI();
                        }).fail(function () {
                            alert("There was an Error When Loading Data...");
                        });
                }, 100);
            $('#MostClickStoreModal').modal('show');
        });
        $('#mch_vm').click(function () {
         
            $.blockUI(reloadLoading);
                setTimeout(function () {
                    $.ajax(
                        {
                            url: "/Dashboard/GetMostClickedHospitalityAll",
                            data: {

                            },
                            type: "GET",
                            datatype: "json"
                        }).done(function (data) {
                 
                          mchtable.clear().draw();
                            for (var i = 0; i < data.length; i++) {
                                $("#mch_call").dataTable().fnAddData([
                                    "<td><p></p><p>" + data[i].business + "</p></td>",
                                    "<td><p>" + data[i].count + "</p></td>",
                                    "<td><p>" + data[i].total + " %"+ "</p></td>",

                                ]);
                            }
                            $.unblockUI();
                        }).fail(function () {
                            alert("There was an Error When Loading Data...");
                        });
                }, 100);
            $('#ShowGetMostClickModal').modal('show');
        });
        $('#mcr_vm').click(function () {
    
             $.blockUI(reloadLoading);
                setTimeout(function () {
                    $.ajax(
                        {
                            url: "/Dashboard/GetMostClickRestaurantAll",
                            data: {

                            },
                            type: "GET",
                            datatype: "json"
                        }).done(function (data) {
                 
                          
                              mcrtable.clear().draw();
                            for (var i = 0; i < data.length; i++) {
                                $("#mcr_call").dataTable().fnAddData([
                                    "<td><p></p><p>" + data[i].business + "</p></td>",
                                    "<td><p>" + data[i].count + "</p></td>",
                                    "<td><p>" + data[i].total + " %"+ "</p></td>",

                                ]);
                            }
                            $.unblockUI();
                        }).fail(function () {
                            alert("There was an Error When Loading Data...");
                        });
                }, 100);
            $('#ShowMostClickRestoModal').modal('show');
        });
        $('#cta-opt').change(function () {
            var data = {};
            var cat = "";
            var day = "";
            if ($(this).val() === '0' && $('#cta-day').val() === '0')  
            {
               cat = "0";
                day = "0";
            }
            else
            {
                cat = $('#cta-opt').val();
                day = $('#cta-day').val();
            }
           
            data.day = day;
            data.category=cat;
            //console.log(data);
            $.ajax({
                url: '/Dashboard/PostCallToActions',
                data: {
                    data: data,
                },
                type: "POST",
                datatype: "json",
                success: function (data) {
                    //console.log(data);
                    cAbtable.clear().draw();
                    for (var i = 0; i < data.length; i++) {
                        $("#cAction_table").dataTable().fnAddData([
                            "<td><p></p><p>" + data[i].business + "</p></td>",
                            "<td><p>" + data[i].category + "</p></td>",
                            "<td><p>" + data[i].callCount + "</p></td>",
                            "<td><p>" + data[i].emailCount + "</p></td>",
                            "<td><p>" + data[i].bookCount + "</p></td>",

                        ]);
                    }

                }
            });
        });
   
        $('#cta-day').change(function () {
            var data = {};
            var cat = "";
            var day = "";
            if ($(this).val() === '0' && $('#cta-opt').val() === '0') {
                cat = "0";
                day = "0";
            }
            else {
                cat = $('#cta-opt').val();
                day = $('#cta-day').val();
            }

            
            data.day = day
            data.category=cat;
            //console.log(data);
            $.ajax({
                url: '/Dashboard/PostCallToActions',
                data: {
                    data: data,
                },
                type: "POST",
                datatype: "json",
                success: function (data) {
                    //console.log(data);
                    cAbtable.clear().draw();
                    for (var i = 0; i < data.length; i++) {
                    $("#cAction_table").dataTable().fnAddData([
                        "<td><p></p><p>" + data[i].business + "</p></td>",
                        "<td><p>" + data[i].category + "</p></td>",
                        "<td><p>" + data[i].callCount + "</p></td>",
                        "<td><p>" + data[i].emailCount + "</p></td>",
                        "<td><p>" + data[i].bookCount + "</p></td>",

                    ]);
                }
                    
                }
            });

        });
   
        $('#nur').change(function () {
  
            const ctx = document.getElementById("myChart").getContext("2d");
            const arrdate = new Array();
            const arrval = new Array();
            var data = {};
            data.day = $('#nur').val();
            ////console.log(data);

            $.ajax({
                url: '/Dashboard/PostNewRegisteredCount',
                data: {
                    data: data,
                },
                type: "POST",
                datatype: "json",
                success: function (response) {
                     //console.log(response);
              
                      for (var i = 0; i < response.length; i++) {
                        arrdate.push(response[i].date);
                        arrval.push(response[i].graph_count);
                        document.getElementById("new_user").innerHTML = response[0].count;
                        document.getElementById("percent-registered").innerHTML = response[0].percentage.toFixed(2) + " %";
                      }
                    //console.log(arrval);
                    var chartData = {
                        labels: arrdate, // conditions to made
                        datasets: [
                            {
                                label: "",
                                data: arrval,
                                backgroundColor: ['rgb(0,0,0)'],
                                borderColor: ['rgb(200, 147, 40)'],
                                borderWidth: 1,
                            },
                        ],
                    };

                    var chartOptions = {
                        responsive: true,
                        maintainAspectRatio: false,

                        scales: {
                            yAxes: [
                                {
                                    ticks: {
                                        beginAtZero: false,
                                    },
                                },
                            ],
                        },
                              plugins: {
                                 legend: {
                                    display: false
                                 }
                              }
                            
                    };

                      myChart.destroy();
                       myChart = new Chart(ctx, {
                            type: "line",
                            data: chartData,
                        options: chartOptions
                        });
                      
                
                   
                    // Update the chart data
                    setInterval(function () {

                        myChart.update();
                    }, 5000);
           
                }
            });
         

        });
        $('#cnt-opt').change(function () {
            var data = {};
            data.day = $('#cnt-opt').val();
            //console.log(data);

            $.ajax({
                url: '/Dashboard/PostClickCountAll',
                data: {
                    data: data,
                },
                type: "POST",
                datatype: "json",
                success: function (data) {
                ////console.log(data);
                tbl_cnttable.clear().draw();
               for (var i = 0; i < data.length; i++) {

                    $("#tbl_cnt tbody").append([
                        "<tr>" +
                        "<td>" + data[i].module + "</td>" +
                        "<td>" + data[i].count + "</td>", + "</tr>"
                    ]);

                }
            }
            });

        });
        $('#mcs').change(function () {
            var data = {};
            data.day = $('#mcs').val();
            ////console.log(data);

            $.ajax({
                url: '/Dashboard/PostMostCickStore',
                data: {
                    data: data,
                },
                type: "POST",
                datatype: "json",
                success: function (data) {
                    ////console.log(data);
                 var sum = 0;
                for (var x = 3; x < data.length; x++) {
                    sum += data[x].total;
                   
                } 
                //console.log(sum);
                for (var i = 0; i < data.length; i++) {
                    document.getElementById("mcs_top1").innerHTML = "Others";
                    document.getElementById("mcs_perc1").innerHTML = sum.toFixed(2) + " %";

                    document.getElementById("mcs_top2").innerHTML = data[0].business;
                    document.getElementById("mcs_perc2").innerHTML = data[0].total + " %";

                    document.getElementById("mcs_top3").innerHTML = data[1].business;
                    document.getElementById("mcs_perc3").innerHTML = data[1].total + " %";

                    document.getElementById("mcs_top4").innerHTML = data[2].business;
                    document.getElementById("mcs_perc4").innerHTML = data[2].total + " %";

                     topBusinesOutlet = [
                        {
                            name: "Others",
                            totalVisit: sum, //percentage
                        },
                        {
                            name: data[0].business,
                            totalVisit: data[0].total, //percentage
                        },
                        {
                            name: data[1].business,
                            totalVisit: data[1].total,  //percentage
                        },
                        {
                            name: data[2].business,
                                totalVisit: data[2].total,  //percentage
                        },
                    ];
                }
         
                    const pieGraphMovement = (elementContainer, data) => {
                        let oldValue = 0;
                        let styleString = "";
                        let startingPoint = "";
                        const color = {
                            0: " var(--accent)",
                            1: " var(--secondary-dark)",
                            2: " var(--secondary-brown)",
                            3: " var(--secondary-light)",
                        };
                        data.map((value, key) => {
                            startingPoint = oldValue == 0 ? "" : `${oldValue}%`;
                            let newValue = value.totalVisit + oldValue;
                            styleString +=
                                oldValue == 0
                                    ? `${color[key]} ${startingPoint} ${value.totalVisit}%`
                                    : `,${color[key]} ${startingPoint} ${newValue}%`;
                            oldValue += value.totalVisit;
                        });
                        // console.log(styleString);
                        document
                            .querySelector(`${elementContainer}`)
                            .setAttribute("style", `background: conic-gradient(${styleString})`);
                    };

                    const populateInfo = (elementContainer, data) => {
                        let element = document.querySelector(`${elementContainer}`);
                        data.map((value, key) => {
                            // console.log();
                            element.children[key].children[1].innerText = value.name;
                            element.children[key].children[2].innerText = `${value.totalVisit}%`;
                        });
                    };

                    const populateTable = (elementContainer, data) => {
                        let element = document
                            .querySelector(`${elementContainer}`)
                            .children[0].getElementsByTagName("tbody");
                        data.map((value, key) => {
                            if (value.name !== "Others") {
                                let newRow = element[0].insertRow();
                                let nameCell = newRow.insertCell();
                                let valueCell = newRow.insertCell();
                                var nameNode = document.createTextNode(value.name);
                                var valueNode = document.createTextNode(value.totalVisit);
                                nameCell.appendChild(nameNode);
                                valueCell.appendChild(valueNode);
                            }
                        });
                    };
                    console.log(topBusinesOutlet);
                    pieGraphMovement("#ts-pie-graph", topBusinesOutlet);
                }
            });

        });
        $('#mch').change(function () {
            var data = {};
            data.day = $('#mch').val();
            ////console.log(data);

            $.ajax({
                url: '/Dashboard/PostMostClickedHospitality',
                data: {
                    data: data,
                },
                type: "POST",
                datatype: "json",
                success: function (response) {
                    //console.log(response);
                    var sum = 0;
                for (var x = 3; x < response.length; x++) {
                    sum += response[x].total;
                    
                } 
                //console.log(sum);
                    for (var i = 0; i < response.length; i++) {
                    document.getElementById("mch_top1").innerHTML = "Others";
                        document.getElementById("mch_perc1").innerHTML = sum.toFixed(2) + " %";

                    document.getElementById("mch_top2").innerHTML = response[0].business;
                    document.getElementById("mch_perc2").innerHTML = response[0].total + " %";

                    document.getElementById("mch_top3").innerHTML = response[1].business;
                    document.getElementById("mch_perc3").innerHTML = response[1].total + " %";

                    document.getElementById("mch_top4").innerHTML = response[2].business;
                   document.getElementById("mch_perc4").innerHTML = response[2].total + " %";

                      topBusinesOutlet = [
                        {
                            name: "Others",
                            totalVisit: sum, //percentage
                        },
                        {
                            name: response[0].business,
                            totalVisit: response[0].total, //percentage
                        },
                        {
                            name: response[1].business,
                            totalVisit: response[1].total,  //percentage
                        },
                        {
                            name: response[2].business,
                                totalVisit: response[2].total,  //percentage
                        },
                    ];
                }
                    const pieGraphMovement = (elementContainer, data) => {
                        let oldValue = 0;
                        let styleString = "";
                        let startingPoint = "";
                        const color = {
                            0: " var(--accent)",
                            1: " var(--secondary-dark)",
                            2: " var(--secondary-brown)",
                            3: " var(--secondary-light)",
                        };
                        data.map((value, key) => {
                            startingPoint = oldValue == 0 ? "" : `${oldValue}%`;
                            let newValue = value.totalVisit + oldValue;
                            styleString +=
                                oldValue == 0
                                    ? `${color[key]} ${startingPoint} ${value.totalVisit}%`
                                    : `,${color[key]} ${startingPoint} ${newValue}%`;
                            oldValue += value.totalVisit;
                        });
                        //console.log(styleString);
                        document
                            .querySelector(`${elementContainer}`)
                            .setAttribute("style", `background: conic-gradient(${styleString})`);
                    };

                    const populateInfo = (elementContainer, data) => {
                        let element = document.querySelector(`${elementContainer}`);
                        data.map((value, key) => {
                            // console.log();
                            element.children[key].children[1].innerText = value.name;
                            element.children[key].children[2].innerText = `${value.totalVisit}%`;
                        });
                    };

                    const populateTable = (elementContainer, data) => {
                        let element = document
                            .querySelector(`${elementContainer}`)
                            .children[0].getElementsByTagName("tbody");
                        data.map((value, key) => {
                            if (value.name !== "Others") {
                                let newRow = element[0].insertRow();
                                let nameCell = newRow.insertCell();
                                let valueCell = newRow.insertCell();
                                var nameNode = document.createTextNode(value.name);
                                var valueNode = document.createTextNode(value.totalVisit);
                                nameCell.appendChild(nameNode);
                                valueCell.appendChild(valueNode);
                            }
                        });
                    };

                    pieGraphMovement("#th-pie-graph", topBusinesOutlet);
                   
                }
            });

        });

        $('#mcr').change(function () {
            var data = {};
            data.day = $('#mcr').val();
            ////console.log(data);

            $.ajax({
                url: '/Dashboard/PostMostClickRestaurant',
                data: {
                    data: data,
                },
                type: "POST",
                datatype: "json",
                success: function (response) {
                    //console.log(response);

                    var sum = 0;
                    for (var x = 3; x < response.length; x++) {
                        sum += response[x].total;

                    }
                    //console.log(sum);
                    for (var i = 0; i < response.length; i++) {
                        document.getElementById("mcr_top1").innerHTML = "Others";
                        document.getElementById("mcr_perc1").innerHTML = sum.toFixed(2) + " %";

                        document.getElementById("mcr_top2").innerHTML = response[0].business;
                        document.getElementById("mcr_perc2").innerHTML = response[0].total + " %";

                        document.getElementById("mcr_top3").innerHTML = response[1].business;
                        document.getElementById("mcr_perc3").innerHTML = response[1].total + " %";

                        document.getElementById("mcr_top4").innerHTML = response[2].business;
                        document.getElementById("mcr_perc4").innerHTML = response[2].total + " %";


                        topBusinesOutlet = [
                            {
                                name: "Others",
                                totalVisit: sum, //percentage
                            },
                            {
                                name: response[0].business,
                                totalVisit: response[0].total, //percentage
                            },
                            {
                                name: response[1].business,
                                totalVisit: response[1].total,  //percentage
                            },
                            {
                                name: response[2].business,
                                totalVisit: response[2].total,  //percentage
                            },
                        ];
                    }

                    const pieGraphMovement = (elementContainer, data) => {
                        let oldValue = 0;
                        let styleString = "";
                        let startingPoint = "";
                        const color = {
                            0: " var(--accent)",
                            1: " var(--secondary-dark)",
                            2: " var(--secondary-brown)",
                            3: " var(--secondary-light)",
                        };
                        data.map((value, key) => {
                            startingPoint = oldValue == 0 ? "" : `${oldValue}%`;
                            let newValue = value.totalVisit + oldValue;
                            styleString +=
                                oldValue == 0
                                    ? `${color[key]} ${startingPoint} ${value.totalVisit}%`
                                    : `,${color[key]} ${startingPoint} ${newValue}%`;
                            oldValue += value.totalVisit;
                        });
                        //  console.log(styleString);
                        document
                            .querySelector(`${elementContainer}`)
                            .setAttribute("style", `background: conic-gradient(${styleString})`);
                    };

                    const populateInfo = (elementContainer, data) => {
                        let element = document.querySelector(`${elementContainer}`);
                        data.map((value, key) => {
                            // console.log();
                            element.children[key].children[1].innerText = value.name;
                            element.children[key].children[2].innerText = `${value.totalVisit}%`;
                        });
                    };

                    const populateTable = (elementContainer, data) => {
                        let element = document
                            .querySelector(`${elementContainer}`)
                            .children[0].getElementsByTagName("tbody");
                        data.map((value, key) => {
                            if (value.name !== "Others") {
                                let newRow = element[0].insertRow();
                                let nameCell = newRow.insertCell();
                                let valueCell = newRow.insertCell();
                                var nameNode = document.createTextNode(value.name);
                                var valueNode = document.createTextNode(value.totalVisit);
                                nameCell.appendChild(nameNode);
                                valueCell.appendChild(valueNode);
                            }
                        });
                    };
                    pieGraphMovement("#to-pie-graph", topBusinesOutlet);

                }
            });

        });

    </script>
}

